@charset "UTF-8";


/*

paleta de cores
verde: #49a09d
lilás: #5f2c82

*/

*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 255px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transform: translate(-50%,-50%);
    transition: width 0.5s, heigth .5s;
    transition-timing-function: ease;
    
}

div#imagem {
    background: #5f2c82 url(../imagens/city.jpg) center center no-repeat;
    background-image: contain;
    height: 200px;
    display: block;
    

}

div#formulario{
    display: block;
    padding: 10px;
    

}

div#formulario h1 {
    margin-bottom: 10px;
    text-align: center;
}

div#formulario p {
    font-size: 0.8em;
}

.campo{
    background-color: #5f2c82;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    outline: none;
    width: 100%;
    padding: 2px;
    
    
}

.campo .material-symbols-outlined {
    
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo input{
    background-color: #93eeeb;
    font-size: 1em;
    height: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: calc(100% - 45px);  
    padding: 4px;
    transform: translateY(-13px);
   
    
}

div.campo input:focus-within{
    background-color: white;
    color: black;
}



form label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #1a3a39;
    
}

.botao{
    display: block;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #55bbb8;
    color: #1a3a39;
    border: none;
    border-radius: 5px;
    border: 1px solid #55bbb8;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 7px;

}

.botao .material-symbols-outlined {
    font-size: 0.8em;
}

.botao:hover{
    background-color: white;
}